In [ ]:

import pandas as pd
import numpy as np
from scipy.stats import norm

In [ ]:
foodAccesss_data_Uncleaned = pd.read_excel('FoodAccessResearchAtlasData2019.xlsx')
foodAccesss_data_Uncleaned.head()

  Notes about the Food Access Research Atlas download data:
0                                                NaN
1          This file contains multiple spreadsheets:
2                                                NaN
3  1.  A variable lookup that provides explanator...
4  2.  A table of all Food Access Research Atlas ...

In [ ]:
columns_to_sum = ['Pop2010',	'OHU2010', 'lapophalf',	'lalowihalf',	'lakidshalf',	'laseniorshalf',	'lawhitehalf',	'lablackhalf',	'laasianhalf',	'lanhopihalf',	'laaianhalf',	'laomultirhalf',	'lahisphalf',	'lahunvhalf',	'lasnaphalf',	'lapop1',	'lalowi1',	'laseniors1',	'lawhite1',	'lablack1',	'laasian1',	'lanhopi1',	'laaian1',	'laomultir1',	'lahisp1',	'lahunv1',	'TractLOWI',	'TractKids',	'TractSeniors',	'TractWhite',	'TractBlack',	'TractAsian',	'TractNHOPI',	'TractAIAN',	'TractOMultir',	'TractHispanic']
columns_to_avg = ['PovertyRate', 'MedianFamilyIncome']
col = ['Year', 'State', 'County']

# Calculate sum of selected columns grouped by 'Group'
sum_by_group = foodAccesss_data_Uncleaned.groupby(['County', 'Urban'])[columns_to_sum].sum().reset_index()
avg_by_group = foodAccesss_data_Uncleaned.groupby(['County', 'Urban'])[columns_to_avg].mean().reset_index()

merged_df = pd.merge(sum_by_group, avg_by_group, on=['County', 'Urban'], how='inner', suffixes=('_df1', '_df2'))

county_contryPairs = foodAccesss_data_Uncleaned[col].drop_duplicates()

merged_df_1 = pd.merge(county_contryPairs[col], merged_df, on = 'County', how = 'inner', suffixes=('_df1', '_df2'))



merged_df_1.to_csv('FoodAccess19output13.csv', index=True)

In [ ]:
merged_df.head()

                        Pop2010  OHU2010  lapophalf  lalowihalf  lakidshalf  \
County           Urban
Abbeville County 0        19716     7661    18824.0      8034.0      4211.0
                 1         5701     2329     4457.0      1750.0      1051.0
Acadia Parish    0        29493    10553    28640.0      9137.0      7894.0
                 1        32280    12288    14907.0      7596.0      4114.0
Accomack County  0        33164    13798    30794.0     13236.0      6482.0

                        laseniorshalf  lawhitehalf  lablackhalf  laasianhalf  \
County           Urban
Abbeville County 0             3114.0      14206.0       4207.0         55.0
                 1              722.0       2676.0       1697.0         16.0
Acadia Parish    0             3087.0      26939.0       1110.0         50.0
                 1             2103.0      10417.0       4119.0         45.0
Accomack County  0             5812.0      19984.0       8864.0        164.0

                        lanhopihalf  ...  TractSeniors  TractWhite  \
County           Urban               ...
Abbeville County 0              5.0  ...        3280.0     14729.0
                 1              0.0  ...         923.0      2962.0
Acadia Parish    0              4.0  ...        3175.0     27695.0
                 1              1.0  ...        4711.0     21432.0
Accomack County  0             36.0  ...        6336.0     21662.0

                        TractBlack  TractAsian  TractNHOPI  TractAIAN  \
County           Urban
Abbeville County 0          4558.0        58.0         5.0       49.0
                 1          2629.0        17.0         0.0       11.0
Acadia Parish    0          1189.0        50.0         4.0       71.0
                 1          9986.0        87.0         2.0       92.0
Accomack County  0          9303.0       183.0        40.0      135.0

                        TractOMultir  TractHispanic  PovertyRate  \
County           Urban
Abbeville County 0             317.0          212.0    21.540000
                 1              82.0           43.0    23.500000
Acadia Parish    0             484.0          497.0    16.950000
                 1             681.0          563.0    32.683333
Accomack County  0            1841.0         2850.0    17.811111

                        MedianFamilyIncome
County           Urban
Abbeville County 0            49570.200000
                 1            41622.000000
Acadia Parish    0            68355.666667
                 1            39725.500000
Accomack County  0            54276.875000

[5 rows x 39 columns]

In [ ]:
import os

# Get the current working directory
cwd = os.getcwd()


print("Current working directory:", cwd)

Current working directory: C:\Users\naikn

In [ ]:
foodAccesss_data_Uncleaned_06 = pd.read_excel('FoodAccessResearchAtlasData2019.xlsx', sheet_name='Food Access Research Atlas')
foodAccesss_data_Uncleaned_06.head()

columns_to_sum = ['Pop2010',	'OHU2010', 'NUMGQTRS',	'PCTGQTRS',	'LILATracts_1And10',	'LILATracts_halfAnd10',	'LILATracts_1And20',	'LILATracts_Vehicle', 'LowIncomeTracts',	'LA1and10',	'LAhalfand10',	'LA1and20',	'LATracts_half',	'LATracts1',	'LATracts10',	'LATracts20',	'LATractsVehicle_20',	'LAPOP1_10',	'LAPOP05_10',	'LAPOP1_20',	'LALOWI1_10',	'LALOWI05_10',	'LALOWI1_20',	'lapophalf',	'lalowihalf',	'lakidshalf',	'laseniorshalf',	'lawhitehalf',	'lablackhalf',	'laasianhalf',	'lanhopihalf',	'laaianhalf',	'laomultirhalf',	'lahisphalf',	'lahunvhalf',	'lasnaphalf',	'lapop1',	'lalowi1',	'lakids1',	'laseniors1',	'lawhite1',	'lablack1',	'laasian1',	'lanhopi1',	'laaian1',	'laomultir1',	'lahisp1',	'lahunv1',	'lasnap1',	'lapop10',	'lalowi10',	'lakids10',	'laseniors10',	'lawhite10',	'lablack10',	'laasian10',	'lanhopi10',	'laaian10',	'laomultir10',	'lahisp10',	'lahunv10',	'lasnap10',	'lapop20',	'lalowi20',	'lakids20',	'laseniors20',	'lawhite20',	'lablack20',	'laasian20',	'lanhopi20',	'laaian20',	'laomultir20', 'lahisp20',	'lahunv20',	'lasnap20',	'TractLOWI',	'TractKids',	'TractSeniors',	'TractWhite',	'TractBlack',	'TractAsian',	'TractNHOPI',	'TractAIAN',	'TractOMultir',	'TractHispanic',	'TractHUNV',	'TractSNAP']

columns_to_avg = ['PovertyRate', 'MedianFamilyIncome']
col = ['State', 'County']

# Calculate sum of selected columns grouped by 'Group'
sum_by_group = foodAccesss_data_Uncleaned_06.groupby(['County', 'Urban'])[columns_to_sum].sum().reset_index()
avg_by_group = foodAccesss_data_Uncleaned_06.groupby(['County', 'Urban'])[columns_to_avg].mean().reset_index()

merged_df = pd.merge(sum_by_group, avg_by_group, on=['County', 'Urban'], how='inner', suffixes=('_df1', '_df2'))

county_contryPairs = foodAccesss_data_Uncleaned_06[col].drop_duplicates()
merged_df_1 = pd.merge(county_contryPairs[col], merged_df, on = 'County', how = 'inner', suffixes=('_df1', '_df2'))

merged_df_1['Urban'].replace({'Yes': 1, 'No': 0}, inplace=True)
states = pd.read_csv('stateinfo.csv')


value_mapping = dict(zip(states['statecode'], states['statename']))

# Replace values in df1 based on the mapping from df2
merged_df_1['State'] = merged_df_1['State'].replace(value_mapping)


county_contryPairs.head()
merged_df_1.to_csv('FoodAccessResearchAtlasData2019Output.csv', index=True)

C:\Users\naikn\AppData\Local\Temp\ipykernel_57852\406064284.py:18: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df_1['Urban'].replace({'Yes': 1, 'No': 0}, inplace=True)

In [ ]:
foodAccesss_data_Uncleaned.head()

,Year,State,County,Urban,Pop2010,OHU2010,PovertyRate,MedianFamilyIncome,lapophalf,lalowihalf,...,TractLOWI,TractKids,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic
0,2016,AL,Autauga,Yes,1892,685.714286,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016,AL,Autauga,No,2982,1136.363636,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,AL,Baldwin,Yes,3724,1291.666667,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,AL,Barbour,No,4342,1217.391304,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,AL,Barbour,No,4068,1172.413793,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
states = pd.read_csv('stateinfo.csv')


value_mapping = dict(zip(states['statecode'], states['statename']))

# Replace values in df1 based on the mapping from df2
merged_df_1['State'] = merged_df_1['State'].replace(value_mapping)

merged_df_1.head()

,Year,State,County,Urban,Pop2010,OHU2010,lapophalf,lalowihalf,lakidshalf,laseniorshalf,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,PovertyRate,MedianFamilyIncome
0,2016,Alabama,Autauga,0,2982,1136.363636,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
1,2016,Alabama,Autauga,1,1892,685.714286,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,2016,Alabama,Baldwin,1,15328,3938.390313,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,2016,Alabama,Barbour,0,8410,2389.805097,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,2016,Alabama,Barbour,1,8016,3168.103448,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [ ]:
foodAccesss_data_Uncleaned_10 = pd.read_csv('Food_Access_2010.csv')
foodAccesss_data_Uncleaned_10.head()

columns_to_sum = ['Pop2010',	'OHU2010', 'lapophalf',	'lalowihalf',	'lakidshalf',	'laseniorshalf',	'lawhitehalf',	'lablackhalf',	'laasianhalf',	'lanhopihalf',	'laaianhalf',	'laomultirhalf',	'lahisphalf',	'lahunvhalf',	'lasnaphalf',	'lapop1',	'lalowi1',	'laseniors1',	'lawhite1',	'lablack1',	'laasian1',	'lanhopi1',	'laaian1',	'laomultir1',	'lahisp1',	'lahunv1',	'TractLOWI',	'TractKids',	'TractSeniors',	'TractWhite',	'TractBlack',	'TractAsian',	'TractNHOPI',	'TractAIAN',	'TractOMultir',	'TractHispanic']
columns_to_avg = ['PovertyRate', 'MedianFamilyIncome']
col = ['Year', 'State', 'County']

# Calculate sum of selected columns grouped by 'Group'
sum_by_group = foodAccesss_data_Uncleaned_10.groupby(['County', 'Urban'])[columns_to_sum].sum().reset_index()
avg_by_group = foodAccesss_data_Uncleaned_10.groupby(['County', 'Urban'])[columns_to_avg].mean().reset_index()

merged_df = pd.merge(sum_by_group, avg_by_group, on=['County', 'Urban'], how='inner', suffixes=('_df1', '_df2'))

county_contryPairs = foodAccesss_data_Uncleaned_10[col].drop_duplicates()
merged_df_1 = pd.merge(county_contryPairs[col], merged_df, on = 'County', how = 'inner', suffixes=('_df1', '_df2'))

merged_df_1['Urban'].replace({'Yes': 1, 'No': 0}, inplace=True)
states = pd.read_csv('stateinfo.csv')


value_mapping = dict(zip(states['statecode'], states['statename']))

# Replace values in df1 based on the mapping from df2
merged_df_1['State'] = merged_df_1['State'].replace(value_mapping)


county_contryPairs.head()
merged_df_1.to_csv('FoodAccess2010out1.csv', index=True)

C:\Users\naikn\AppData\Local\Temp\ipykernel_26148\2639853716.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df_1['Urban'].replace({'Yes': 1, 'No': 0}, inplace=True)

In [ ]:
foodAccesss_data_Uncleaned_15 = pd.read_excel('FoodAccess_2015.xlsx', sheet_name='Sheet1')
foodAccesss_data_Uncleaned_15.head()

columns_to_sum = ['POP2010',	'OHU2010', 'lapophalf',	'lalowihalf',	'lakidshalf',	'laseniorshalf',	'lawhitehalf',	'lablackhalf',	'laasianhalf',	'lanhopihalf',	'laaianhalf',	'laomultirhalf',	'lahisphalf',	'lahunvhalf',	'lasnaphalf',	'lapop1',	'lalowi1',	'laseniors1',	'lawhite1',	'lablack1',	'laasian1',	'lanhopi1',	'laaian1',	'laomultir1',	'lahisp1',	'lahunv1',	'TractLOWI',	'TractKids',	'TractSeniors',	'TractWhite',	'TractBlack',	'TractAsian',	'TractNHOPI',	'TractAIAN',	'TractOMultir',	'TractHispanic']
columns_to_avg = ['PovertyRate', 'MedianFamilyIncome']
col = ['Year', 'State', 'County']

# Calculate sum of selected columns grouped by 'Group'
sum_by_group = foodAccesss_data_Uncleaned_15.groupby(['County', 'Urban'])[columns_to_sum].sum().reset_index()
avg_by_group = foodAccesss_data_Uncleaned_15.groupby(['County', 'Urban'])[columns_to_avg].mean().reset_index()

merged_df = pd.merge(sum_by_group, avg_by_group, on=['County', 'Urban'], how='inner', suffixes=('_df1', '_df2'))

county_contryPairs = foodAccesss_data_Uncleaned_15[col].drop_duplicates()
merged_df_1 = pd.merge(county_contryPairs[col], merged_df, on = 'County', how = 'inner', suffixes=('_df1', '_df2'))

merged_df_1['Urban'].replace({'Yes': 1, 'No': 0}, inplace=True)
states = pd.read_csv('stateinfo.csv')


value_mapping = dict(zip(states['statecode'], states['statename']))

# Replace values in df1 based on the mapping from df2
merged_df_1['State'] = merged_df_1['State'].replace(value_mapping)


county_contryPairs.head()
merged_df_1.to_csv('FoodAccess2015out1.csv', index=True)

C:\Users\naikn\AppData\Local\Temp\ipykernel_26148\3662840313.py:17: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  merged_df_1['Urban'].replace({'Yes': 1, 'No': 0}, inplace=True)